<div ng-controller="LoginController as login" class="container">
  <h3 class="flow-text">Log in to account</h3>
  <form >
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="login.logInUser.email" placeholder="email@abc.def" id="email" type="text" class="validate">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="login.logInUser.password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button ng-click="login.logIn(login.logInUser)" class="btn waves-effect waves-light">log in
      <i class="material-icons right">done</i>
    </button>
  </form>
