<div ng-controller="SignupController as signup" class="container">
  <form class="add-user" ng-submit="signup.sendUser(signup.signupUser)">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="userName123" ng-model="signup.signupUser.userName" type="text" class="validate">
        <label for="userName">userName</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="email@abc.def" ng-model="signup.signupUser.email" type="email" class="validate">
        <label for="email" data-error="wrong" data-success="right" >Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="signup.signupUser.password" type="password" class="validate">
        <label for="passwordConfirmation">Password</label>
      </div>
    </div>
<!-- password confirmation would go here! -->
<!-- ALSO: Add form validation for required data -->
      <button type="submit" class="btn waves-effect waves-light" value="Add User">sign up
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
</div>
